body {
  font-size: 1.5em;
}

.col-md-6 {
  padding: 0;
}

#right {
  padding-left: 20px;
}

#left {
  padding-right: 20px;
}

h1 {
  text-align: center;
}

.panel-title {
  font-size: 2em;
}

.circles {
  display: block;
  padding: 1em;
}

/*#show-details {
  display: none;
}*/

.high-important {
  color: green;
}

.mid-important {
  color: black;
}

.low-important {
  color: red;
}

.item input {
  margin-left: 2em;
}

.item {
  font-size: 1.5em;
  cursor: pointer;
}

.item:hover {
  text-decoration: underline;
}
